@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
  font-family: 'Roboto', sans-serif;
}
section {
  padding: 6rem 0;
}
.quote-box {
  background: #1E4681;
  color: #FFF;
}
.about-kurs-text {
  font-size: 1.5rem;
}
.text {
  font-size: 1.25rem;
}
.card {
  border-radius: 30px;
  height: 100%;
}
#feedback {
  background: #EFEFEF;
  margin-bottom: 0;
}
.feedback-box {
  border-radius: 30px;
  background: #FFF;
}
.fb-social-icon i{
  font-size: 2rem;
}
#price {
  background: #9DC9C8;
  margin: 0;
}
footer {
  padding: 4rem 0 1.5rem;
  background: #000000;
  color: #FFF;
}

@media only screen and (max-width: 768px) {
  .text {
    font-size: 1rem;
  }
  .fb-social-icon i{
    font-size: 1.5rem;
  }
  .fb-title {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 576px) {
  .tex {
    font-size: .5rem;
  }
  .fb-social-icon i{
    font-size: 1rem;
  }
  .fb-title {
    font-size: 1rem;
  }
}